<div class="card-grid">
  {# Drupal content (views) #}
  {% if rows %}
    {% for row in rows %}
      {{ row.content }}
    {% endfor %}
    {# PL content in JSON #}
  {% else %}
    {% for listItem in listItems.three %}
      {% include "@molecules/card/01-card.twig"
        with {
          "image_src": img.avatar.src,
          "image_alt": img.avatar.alt,
          "title": listItem.headline.short,
          "body": listItem.excerpt.long
        }
      %}
    {% endfor %}
  {% endif %}
</div>
