.heading-2 {
  @include font-size(2.4);
  line-height: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;

  @include medium {
    @include font-size(2.6);
  }
  @include large {
    @include font-size(3);
  }
}
